
table, th, td {border: 1px solid black;}

.boldText { 
    font-weight:bold;
}

.italicText {font-style: italic;}

.colorred {color:red}

.colorgreen {color:green}

.colorblue {color:blue}

.arial {font-family:Arial;}

.center {text-align:center}

.backgroundblue {background-color: blue;}