
table, th, td {border: 1px solid black;}

.boldText { 
    font-weight:bold;
}

.italicText {font-style: italic;}

.redText {color:red}

.greenText {color:green}

.whiteText {color:whitesmoke}

.blueText {color:blue}

.arial {font-family:Arial;}

.center {text-align:center}

.backgroundBlue {background-color:rgb(14, 14, 133);}

.backgroundWhite {background-color: white;}

.Green {background-color: green;
float: left;
width: 75%;
height: 25px;
}

.BlueLight {background-color: rgb(64, 120, 241);
    float: right;
    width: 25%;
    height: 25px;
}

.Red {background-color: red;
float: left;
width: 33%;
height: 25px;
}

.Yellow {background-color: #ffae00;
float:left;
width:22%;
height: 25px;
}

.Orange {background-color: rgb(255, 136, 0);
    float: left;
    width: 33%;
    height: 25px;
}


.Grey {background-color: grey;
    float: left;
    width: 34%;
    height: 25px;

}

.Blue2 {background-color: rgb(16, 103, 138);
float: left;
width: 22%;
height:25px;
}

.OrangeDark {background-color: rgb(121, 48, 5);
float: left;
width: 23%;
height: 25px;
}

.DarkBlue {background-color: rgb(23, 23, 53);
float:left;
width: 100%;
height: 75px;
}




#backgroundImage {
    background-image: url(IMG_2068.png);
    background-size: cover;
    background-attachment: fixed;
}



#margeExt {margin: 10px;}

#margeInt {padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#fieldset1 {
    background-color: blue;
}

#fieldset2 {
    background-color: blueviolet;
}

#fieldset3 {
    background-color: rgb(255, 0, 98) ;
    
}