
table, th, td {border: 1px solid black;}

.boldText { 
    font-weight:bold;
}

.italicText {font-style: italic;}

.redText {color:red}

.greenText {color:green}

.whiteText {color:whitesmoke}

.blueText {color:blue}

.arial {font-family:Arial;}

.center {text-align:center}

.backgroundBlue {background-color:rgb(14, 14, 133);}

.backgroundWhite {background-color: white;}

.backgroundGreen {background-color: green;}

.backgroundRed {background-color: red;}

.backgroundYellow {background-color: yellow;}

.backgroundOrange {background-color: orange;}

.backgroundGrey {background-color: grey;}

.backgroundOrangeDark {background-color: rgb(121, 48, 5);}

.backgroundDarkBlue {background-color: rgb(23, 23, 53);}



#backgroundImage {
    background-image: url(IMG_2068.png);
    background-size: cover;
    background-attachment: fixed;
}



#margeExt {margin: 10px;}

#margeInt {padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

