header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    height: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

nav {
    background-color: rgb(122, 122, 241);
    border: 1px solid rgb(122, 122, 241);}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    height: 25px;}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;}

#presentation {
    background-color: sandybrown;
    border:1px solid sandybrown;
    width: 75%;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
    font-size: 20px;}

#conteneur {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.photo {
    width: 75%;}
    
#backgroundColour {
    background-color: rgba(175, 214, 226, 0.952);}

#navIcon {
    display: none;}


/* MEDIA QUERIES */

@media screen and (max-width: 480px)
{
    section {flex-direction: column;}

    a, form {display: none;}
        
    #navIcon {display: block;}   

    h1 {text-align: center;}
}    

   
    
    

    
    



    



